/*Container for css related to topbarcontainer */



/*Start på css för start page*/

html {
    font-family: 'Lato', sans-serif;
}

html button {
    font-family: 'Lato', sans-serif;
}

.header{
    text-align: center;
    position: relative;
    font-size: 3em;
}
.subHeader {
    text-align: center;
    position: relative;
    margin-top: 2.5em;
    font-size: 2em;
}

.helpLangContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:1em;
    right: 1em; 
    width: 6vw;
}
/*Går det att ärva från andra klasser?*/
.helpAbortContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:1em;
    right: 1em; 
    width: 13vw;
}

#abort {
    background-color: #EA3546;
}

#langButton{
    width: 2.5em;
    height: 2.5em;
}

#helpButton{
    width: 2em;
    height: 2em;
}

.blackOverlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: .80;
    filter: alpha(opacity=80); /*För att det ska fungera på samtliga browsers (tror jag)*/
}
.popUpContent {
    display: none;
    position: absolute;
    top: 25%;
    left: 32.5%;
    width: 25%;
    height: 25%;
    padding: 2em;
    border: 2em solid deepskyblue;
    background-color: white;
    margin:0 auto;
    z-index: 2;
}

.flexAbort {
    display: flex;
    justify-content: space-between;
}

.popUpContent button {
    background-color: deepskyblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.startPageButtonContainer{
    text-align: center;
    margin-top: 3.5em;
    margin-bottom: 9em;
    width: 100%;
}   

button {
    background-color: #49c0f0;
    color: #E6EAEF;
    border-radius: 6px;
    border-width: 0;
    box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.3) inset;
}

.largeButton{
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.largeButton button{
    display: inline-block;
    margin: 0.5em;
    padding: 1.2em 1.6em;
    font-size: 1.6em;
    width: 7em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Slut på css för start page*/
/*cv_add_drink_page startar*/
.topBarContainer{
    text-align: center;
    height: 3em;
    width: 100%;
}
.topBarButton{
    display: inline-block;
    margin-top: .5em;
    margin-bottom; .5em;
    display: inline-block;
}
.topBarButton button{
    height: 2em;
    width: 10em;
}
.abortButton button{
    height: 2em;
    width: 2em;
}
/*cv_add_drink_page slutar*/
/* Start på css for choose size page*/

#size main {
    margin-top: 5em;
}

.chooseSize {
    text-align: center;
    padding-top: 4em;
}

.buttonSizeContainer{
    text-align: center;
    margin-top: 6em;
    margin-bottom: 5em;
    width: 100%;
}   

.chooseSizeButton {
    display: inline-block;
    margin: 0px 25px 0px 25px;
}

.chooseSizeButton button {
    height: 10em;
    width: 10em;
}


/*Start css for smoothie choose ingredients */


.mainContent {
    display: flex;
    align-content: center;
    height: 65vh;
    justify-content: flex-end;
    align-items: center;
}

.mugContainer {
    display: flex;
    margin-right: 3em;
}

.mug {
    height: 23em;
    width: 15.625em;
    background-image: url(/images/mug.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.toppingButton{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.mugButtons{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.ingredButton {
    text-align: center;
    height: 0; 
    position: relative;
    border-right: 0.6em solid transparent;
    border-top: 3em solid lightGray;
    border-left: 0.6em solid transparent;
    box-sizing: content-box;
    border-radius: 6px;
    margin-bottom: 0.2em;
}

#topping {
    color: black;
    font-size: 1em;
    align-self: center;
    flex-basis: 3.25em;
    min-width: 15em;
    margin-bottom: 1.5em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3) inset;
    background-color: lightgray;
}

#ingred3 {
    width: 13.5em;
}

#ingred2 {
    width: 12.2em;
    left: 4.25%;
}

#ingred1 {
    width: 11em;
    margin-bottom: -0.2em;
    left: 8.4%;
}

#baseIngred {
    width: 8.5em;
    border-right: 1.2em solid transparent;
    border-top: 6.8em solid lightGray;
    border-left: 1.2em solid transparent;
}

.mugButtons span { 
    position: absolute;
    top: -4em;
    left: 36%;
    color: black;
}

.ingred span { 
    top: -2.5em;
    left: 28%;
}

/*End css for smoothie choose ingredients */
/* cv_cart_page börjar*/
.cartBox{
    display: flex;
    flex: 1;
    height: 90vh;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ccc; /*Skall tas bort när sidan fungerar*/
    /*    overflow: hidden;*/
}
.cartOverviewBox{
    flex: 4;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid;
    overflow: auto;
    align-self: stretch;
}
.cartRecipeBox{
    flex: 2;
    padding: 10px;
    align-content: center;
    border: 1px solid;
    overflow: auto;
    align-self: stretch;
}
/* cv_cart_page slutar*/

/* cv_base_ingred börjar*/

.headContainer{
    display: flex; 
    justify-content: space-evenly;
    width: 70%;
    flex-direction: row;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-width: 1em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-color: #F9C80E;
}

.head {
    text-align: left;
    font-size: 2em;
    text-transform: capitalize;
}

input.head {
    text-align: left;
    max-width: 9em;
}

.flexContainer {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-color: #F9C80E;
    display: flex;
    flex-wrap: wrap;
    /*    background-color: deepskyblue;*/
    width: 70%;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    overflow-y: auto;
    height: 54vh;
}


.flexContainer button {
    width: 150px;
    height: 150px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 1.5em;
}


.footer {
    height: 6vh;
}
/* cv_base_ingred slutar*/
